{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

	<link rel="stylesheet" href="{%  static  "assets/form-register.css" %}">

    <div class="main-content" style="margin-top: 100px">

        <!-- You only need this form and the form-register.css -->

        <form class="form-register" method="post" id="signup-form">
             {% csrf_token %}
            <div class="form-register-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1>Create an account</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Name</span>
                            <input type="text" name="name">
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Email</span>
                            <input type="email" name="email">
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password">
                        </label>
                    </div>

                    <div class="form-row">
                        <button type="submit">Register</button>
                    </div>

                </div>

                <a href="{% url 'login' %}" class="form-log-in-with-existing">Already have an account? Login here &rarr;</a>

            </div>

        </form>

    </div>

{% endblock %}

